/*html {background-color: #2a2525;background-image: url(images/icons/icon-144x144.png);background-repeat: no-repeat;background-position: center;}*/

html body {width: 100%;height: 100%;padding: 0px;margin: 0px;overflow: hidden;font-family: arial;font-size: 10px;color: #6e6e6e;background-color: #2a2525;background-image: url(../images/logo.webp);background-repeat: no-repeat;background-position: center;background-attachment: fixed;} #preview-frame {width: 100%;background-color: #fff;}


.btn-group .button {
background-color: rgba(76, 175, 80, 0.35); /* Green */
border: 1px solid rgba(0, 128, 0, 0);
color: white;
padding: 0px 0px 0px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 2px;
cursor: pointer;
float: left;
/*border-radius: 100%;*/
}
.btn-group .button:not(:last-child) {
border-right: none;
}
.btn-group .button:hover {
background-color: rgba(62, 142, 65, 0.49);
}